#root {
  margin: 0 auto;
  text-align: center;
}

.tiles {
  z-index: auto;
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes flashingLights {
  0% {
    transform: scale(0.1);
    background-color: rgb(237, 78, 249);
  }
  75% {
    transform: scale(0.25);
    background-color: #242424;
  }
  100% {
    transform: scale(0.1);
    background-color: white;
  }
}

@keyframes flashingLightsHover {
  0% {
    transform: scale(0.3);
    background-color: rgb(237, 78, 249);
  }
  75% {
    transform: scale(0.5);
    background-color: #242424;
  }
  100% {
    transform: scale(0.3);
    background-color: white;
  }
}

.tile-wrapper {
  height: 50px;
  width: 50px;
}

.tile {
  background-color: rgb(237, 78, 249);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  animation-name: flashingLights;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.tile-wrapper:hover .tile {
  animation-name: flashingLightsHover;
  animation-duration: 1s;
  transition: 1s;
}