main {
  background-color: rgba(128, 128, 128, 0.11);
  align-self: center;
  font-size: 1.7em;
  padding-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    scale: 0.9;
}

.projects-list {
  transition: 2s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.project {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  transition: 1s;
  justify-content: space-between;
}

.project > img {
  width: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.project > h4 {
  padding-top: 8px;
  align-self: center;
  margin: 0px;
}

.project > div {
  text-align: left;
  padding: 10px;
  font-size: 18px;
}

main > h1 {
  text-align: center;
  letter-spacing: -4px;
  word-spacing: 10px;
  padding-top: 50px;
  margin-bottom: 70px;
}

.project:hover {
  background-color: rgb(248, 151, 255);
}

.sources {
  display: flex;
  gap: 15px;
  
}
.sources > a > button {
  background-color: rgb(97, 97, 97);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
}
.sources > a {
  display: grid;
  align-self: end;
  background-color: white;
  width: 100%;
  border-radius: 5px;

  transition: 2s;
  border: none;
  cursor: pointer;
}

button > a {
  color: inherit;
}

button > a:hover {
  color: inherit;
}
