main {
  font-size: 1.7em;
  padding-top: 1px;
  padding-bottom: 50px;
  margin-left: 120px;
  margin-right: 120px;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

main > h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; 
}


@media (max-width: 1260px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
  main {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 700px) {
  .projects-list {
    margin-left: 10px;
    margin-right: 10px;
  }
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
}
